PORT=

MONGODB_URI=

JWT_SECRET=
JWT_EXPIRES_IN=

CORS_ORIGIN=

STORAGE_DRIVER=

IMAGEKIT_PUBLIC_KEY=
IMAGEKIT_PRIVATE_KEY=
IMAGEKIT_URL_ENDPOINT=

RESEND_API_KEY=

CURSOR_SECRET=

R2_ACCOUNT_ID=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_BUCKET_NAME=